doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pug Template Example
  body
    header
      h1 Welcome to pug template
    main
      p This is a paragraph of text in the main content.
  
    footer
      p &copy; 2025 My Website
